body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
    padding-top: 56px; /* Asegura que el contenido no quede debajo del navbar */
}

h1, h2, h3 {
    color: #333;
    margin-bottom: 1rem;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.post {
    margin-bottom: 2rem;
}

.post h2 {
    margin-bottom: 0.5rem;
}

.post p {
    color: #666;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer small {
    color: #bbb;
}

/* Añadir cualquier estilo personalizado adicional aquí */

